body{
    background-color: aquamarine;
    font-family: sans-serif;
    text-align: center;

}

input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

select {
    width: 14%;
    padding: 12px 20px;
    -moz-appearance: none;
    font-size: 14px;
    border-radius: 4px;
    background-color: white;
}

.border{
    border: none;
    border-radius: 6px;
    background-color: white;
    padding: 12px;
}

.morning{
    position: absolute;
    top: 400px;
    left: 800px;
    text-align: left;
}

.afternoon{
    position: absolute;
    top: 420px;
    left: 800px;
    text-align: left;
}

.evening{
    position: absolute;
    top: 440px;
    left: 800px;
    text-align: left;
}

.apply2{
    position: absolute;
    left: 650px;
    top: 520px;
}

.excited{
    position: absolute;
    top: 500px;
    left: 800px;
    text-align: left;
}

.humbled{
    position: absolute;
    top: 520px;
    left: 800px;
    text-align: left;
}

.elated{
    position: absolute;
    top: 540px;
    left: 800px;
    text-align: left;
}

.loved{
    position: absolute;
    top: 560px;
    left: 800px;
    text-align: left;
}

.enthusiastic{
    position: absolute;
    top: 580px;
    left: 800px;
    text-align: left;
}

textarea {
    resize: none;
    outline: none;
}

.textarea{
    position: absolute;
    top: 630px;
    left: 810px;
    text-align: left;
}

button{
    background-color: aqua;
    color: white;
    border-radius: 4px;
    font-size: 20px;
}